<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LIST</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="top-wrapper">
        <div class="top-detail">
          <h2 class="subtitle">Aplikasi daftar Penjualan Barang</h2>
          <h1 class="title">LIST BARANG</h1>
          <p class="description">
            LIST Barang dapat digunakan ketika anda mau menjual barang anda secara online sehingga dapat menarik pelanggan dalam jumlah yang besar
            <br>
            Tambahkan barang yang Anda ingin Jual kapanpun, dimanapun agar pembeli dapat melihat barang anda
          </p>
          <a href="/index" class="index-button">Lihat daftar</a>
        </div>
        <div class="top-image">
          <img src="/images/list.png" alt="">
        </div>
      </div>
</body>
</html>